[2019-06-07 07:27] ryanlozon opened #1 ""Can't resolve ../../graphql/types""
First off, thanks so much for creating this tutorial. It is truly amazing.

I was following along but then decided to clone from step 16 to have a look at the finished project. After the clone, I ran the "yarn prestart" and "yarn prebuild" but I'm getting this error still.
Module not found: Can't resolve '../../graphql/types' in '/Users/ryanlozon/code/WhatsApp-Clone-Tutorial/client/WhatsApp-Clone-

[2019-06-07 12:13] Urigo commented on #1
It looks like probably a mis-version between the server and the client.
Can you try to use the latest master on the server and the latest master on the client?

[2019-06-10 16:36] ryanlozon commented on #1
@Urigo I made sure I cloned the latest version for client and server. Then ran yarn build on both. Server-side worked fine but client-side gave me this error.
[code]

[2019-06-10 19:57] Urigo commented on #1
mmm try to make sure they are cloned under the same folder and that the server folder is exactly
 called `Whatsapp-Clone-Server`

[2019-06-12 16:12] Urigo commented on #1
I've added instructions on the READ of all the related repositories.

https://github.com/Urigo/WhatsApp-Clone-Tutorial#cloning-the-finished-app

I believe it should work for you now.

Please let me know if not.

Sorry for the issue

[2019-06-12 16:12] #1 closed

[2019-06-16 20:21] itays opened #2 "Step 2.2: Setup Material-UI theme"
Hi there, thanks for this awesome tutorial, I think material-ui changed `MuiThemeProvider` to `ThemeProvider`

https://github.com/mui-org/material-ui/blob/master/examples/create-react-app-with-typescript/src/index.tsx

[2019-06-17 10:23] Urigo commented on #2
thank you @itays !
Looks like it's not only a difference in name but it also means we need to move to the hooks based API introduced in v4 (which we've already updated the dependency to) - https://www.google.com/search?q=themeprovider+vs+muithemeprovider&oq=ThemeProvider+vs+&aqs=chrome.0.0j69i57.7217j0j7&sourceid=chrome&ie=UTF-8

It also means we need to add a direct dependency on `@material-ui/st

[2019-06-17 15:08] itays commented on #2
sure, I'll try when I'll have some free time.
according to their docs (https://material-ui.com/styles/basics/#styled-components-api) you can use their `styled` api from @material-ui/styles which works like styled-components and emotion.

"Material-UI's styling solution is inspired by many other styling libraries such as styled-components and emotion."
"You can expect the same advantages as styled-

[2019-06-21 20:42] sfabriece opened #3 "[Server Step 1.4] - prettier script does not work on windows"
change the script from `"format": "prettier '**/*.ts' --write"` to `"format": "prettier \"**/*.ts\" --write"`

notice the escaped quotes.

[2019-06-21 20:44] sfabriece commented on #3
How can I contribute the change if approved @Urigo?

[2019-06-21 21:02] sfabriece opened #4 "[Server Step 1.1] - use ts-node-dev instead of ts-node"
with ts-node-dev, you get a watch mode that restarts the server when a file is changed

[2019-06-24 10:20] mdazy commented on #2
Hi,
I just started on the tutorial and I moved to Material UI's `styled`, it seems to work quite nicely, after some time figuring out the correct syntax for the theme-based version.

[code]

[2019-06-24 11:56] Urigo commented on #2
this is interesting.
I wonder of someone from `styled-components` and/or `material-ui` can share their thoughts about different reasons and use cases of when to use what to make this discussion even more interesting!

@oliviertassinari @mxstbr

[2019-06-24 15:24] oliviertassinari commented on #2
The styled API is meant to reduce bundle size. We want to provide style adapters in v5 so you can use styled-components without compromises.

[2019-06-28 16:31] jsparvath commented on #4
I second that! It works great, but by default it shows a notification in the OS window which can be really annoying. The flag --notify=false disables that however.
My start script:
"start": "ts-node-dev --notify=false index.ts"

[2019-06-30 11:02] Urigo commented on #3
Thank you so much @sfabriece !
I've applied your changes to master.

Because Tortilla is currently rewriting the git history, as of today there are only 2 ways of applying your changes:
1. We would manually add them and then push the new history
2. You will learn Tortilla.

The issue with the first one is that then you won't get to see your commit in Github's history.
So for now I've added your na

[2019-06-30 11:02] #3 closed

[2019-06-30 11:05] Urigo commented on #4
Thank you both for the suggestion!

It's actually something @kamilkisiela is in the process of doing!

He created a deep analysis of all the different ways to run GraphQL and Node on the backend together with performance benchmarks across all of our clients, which some of them have really huge codebases.

He will create a blog post about that and upgrade as the same time the tutorial together with

[2019-07-02 13:50] elierenburg opened #8 "[Client Step 6.5]"
What is the purpose of this step?

[2019-07-02 20:47] Urigo commented on #8
Do you mean the animate section?

[2019-07-02 20:56] elierenburg commented on #8
No, I mean the type d section. Why do we need this part? Thank you.

On Tue, Jul 2, 2019, 23:47 Uri Goldshtein <notifications@github.com> wrote:

--
This e-mail, as well as any attached document, may contain material which
is confidential and privileged and may include trademark, copyright and
other intellectual property rights that are proprietary to Kenshoo Ltd,  
its subsidiaries or affiliates

[2019-07-02 20:57] Urigo commented on #8
mmm can you paste here the code snippet?  I think I'm missing something

[2019-07-02 21:06] elierenburg commented on #8
It's the declare module part. Can't access the code now 😅

On Tue, Jul 2, 2019, 23:57 Uri Goldshtein <notifications@github.com> wrote:

--
This e-mail, as well as any attached document, may contain material which
is confidential and privileged and may include trademark, copyright and
other intellectual property rights that are proprietary to Kenshoo Ltd,  
its subsidiaries or affiliates ("Kenshoo"

[2019-07-03 05:40] elierenburg commented on #8
hi, good mornings,
its this part:
declare module 'react-router-transition';

On Tue, Jul 2, 2019 at 11:57 PM Uri Goldshtein <notifications@github.com>
wrote:

--

Best Regards,

 Eli Erenburg

Software Developer | *Data Integration*

m: 0525939069  e: eli.erenburg@kenshoo.com

--
This e-mail, as well as any attached document, may contain material which
is confidential and privileged and may includ

[2019-07-03 07:04] elierenburg opened #9 "[Client Step 6.5]"
a small bug (i think)

app.tsx should have history = createBrowserHistory and pass that object onto chatScreen no?

[2019-07-16 08:43] czd opened #12 "[Client Step 1.3] change package.json"
Running `yarn format` on Windows produces the error "No matching files." due to the single quotes. It works when removing the quotes in the command.

[code]

[2019-07-16 20:04] Urigo commented on #9
yes, added and released a new `next` version

[2019-07-16 20:04] #9 closed

[2019-07-16 20:07] Urigo commented on #12
ohh true, we've fixed it on the server already - #3

Probably a better fix would be to escape it as in there no?
https://github.com/Urigo/WhatsApp-Clone-Server/blob/master/package.json#L17

[2019-07-16 20:10] Urigo commented on #8
Because I think it doesn't have a `@types` library.

Am I wrong?

[2019-07-18 15:50] wtrocki opened #13 "[Question] Tutorial updates are hard to reconcile"
We have a team now working on validating tutorials and if someone is the middle of the steps and entire tutorial recieves update it is hard currently to figure it out what has changed in other steps.

What is the recommendation in this case (update happens while you are in the middle of the tutorial)?

Is it possible to see what was changed in the previous steps?
I know it is possible to get the m

[2019-07-18 15:51] wtrocki commented on #13
ping @MStokluska

[2019-07-18 16:27] MStokluska commented on #13
In step 8 in addMessage mutation last message is found by
const lastMessageId = chat.messages[chat.messages.length - 1];
what it returns is the last message assigned to a chat with X chatId. However once added, when I run
view chat by ID and filter through last messages the messages that has been added overlap with existing messages of same ID but from different chats.
So in example
[code]
produce

[2019-07-20 13:51] Urigo commented on #13
I think there are 2 separate things here.

For the first comment, it is technically possible with the Tortilla CLI, the question is how do we want to display it on the website?
(tagging @DAB0mB as well)

right now you can see diffs between whole versions at the top.
Do you have an idea what would be a good way to display diffs between versions and steps?
Maybe a drop down once you moved to the dif

[2019-07-21 16:58] braedongough opened #14 "[Client Step 5.3]"
I'm getting an error when using fetch in the test:

[code]

This is resolved by using fetchMock instead - should this be updated in the tutorial?

[2019-07-21 17:57] Urigo commented on #14
mmm can you create an example PR to what you think needs to be changed?

[2019-07-21 18:24] braedongough commented on #14
Line 10 in `src/components/ChatsListScreen/ChatsList.test.tsx` on branch master-step5,

`fetch.mockResponseOnce(` -> `fetchMock.mockResponseOnce(`

[2019-07-22 13:40] veerjainATgmail commented on #1
Please modify the file codegen.yml

schema: ../**Whatsapp**-Clone-Server/modules/*/*.ts

to

schema: ../**WhatsApp**-Clone-Server/modules/*/*.ts

[2019-07-22 14:58] Urigo commented on #1
@veerjainATgmail good catch!

Fixed and pushed to master, will be deployed to the website on the next release

Thank you!

[2019-07-24 18:51] TVaakanainen opened #15 "Tutorial step 8's step 5.1 is buggy"
modify schema/resolvers.ts

Lines 36-37 create a pretty annoying bug.
[code]
So what happens here is that when using the tutorial app depending on scenario you're re-using IDs on "database". I can see this has already been fixed on https://github.com/Urigo/WhatsApp-Clone-Server , but the tutorial still has this bug

...or maybe this bug always was only on tutorial, couldn't find the exact commit w

[2019-07-24 22:22] dgdosen commented on #14
I get this error:

    TypeError: fetch.mockResponseOnce is not a function

[2019-07-28 11:26] Urigo commented on #14
it makes sense but I can't understand why I don't get this error myself..

What are you running when you get it?
If you clone the repo from that exact point, do you still get that error?

[2019-07-28 11:38] Urigo commented on #15
@TVaakanainen could you help me identify the commit where it has been fixed?
is it in a certain step?

[2019-07-28 11:55] Urigo commented on #1
released and deployed

[2019-07-30 16:09] milenazuccarelli opened #17 "[Client Step 11.1] missing isMine field in Message fragment"
Hey!

In the tutorial, in chapter 11, Client step 11.1, there seems to be a missing instruction to add `isMine` inside of the Message fragment in `src/graphql/fragments/message.fragment.ts`.

The change was made in [this commit](https://github.com/Urigo/WhatsApp-Clone-Client-React/commit/420318caa56b8cfab3f1871a483224a216a309da).

[2019-07-31 14:54] Urigo commented on #15
@TVaakanainen you are right, that logic is broken.
I've fixed it and deployed a new version and added you to the contributors on the bottom of the README

[2019-07-31 14:54] #15 closed

[2019-07-31 14:54] Urigo commented on #14
@braedongough you are right, it was broken.
I've fixed it (also in step 6.4) and deployed a new version and added you to the contributors on the bottom of the README

[2019-07-31 14:54] #14 closed

[2019-07-31 14:54] Urigo commented on #12
I've fixed it and deployed a new version and added you to the contributors on the bottom of the README

Thank you!

[2019-07-31 14:54] #12 closed

[2019-07-31 14:54] Urigo commented on #17
Thank you @milenazuccarelli !

I've added it and added you to the contributors on the bottom of the README on the text repo

[2019-07-31 14:54] #17 closed

[2019-08-02 09:12] milenazuccarelli commented on #17
Thanks @Urigo !

[2019-08-04 09:13] braedongough opened #18 "Step 8: Sending messages -- Cannot read property 'chat' of undefined"
After having gone through all of the steps in section 8, I'm running into a problem where the app crashes when clicking on a chat returning with the error:  `Cannot read property 'chat' of undefined`. It appears to be stemming from ChatRoomScreen line 66, which doesn't make it any more clear.

I finally gave up debugging it and cloned the git repo at the exact steps I had finished at and it appear

[2019-08-08 02:49] suhuaixing opened #20 "[Client Step 1.11]"
chat.lastMessage.createdAt is a date object, it can't be displayed as a string. chat.lastMessage.createdAt.toDateString() is okay temporarily.

[2019-08-08 03:19] suhuaixing commented on #20
@material/core already includes @type/material-ui after v4. So we don't need to install it in Step 2

[2019-08-08 03:21] suhuaixing commented on #20
step 2 typo: so we ca define our styles  => so we can define our styles

[2019-08-08 03:46] suhuaixing commented on #20
step 3 typo  start": "node index.js"  => "start": "node index.js"

[2019-08-08 05:27] suhuaixing commented on #20
step 4 don't need to install bodyParser and @types/bodyParser. Since express 4.16, bodyParser is already included in express. app.use(bodyParser.json());=> app.use(express.json());

[2019-08-08 06:00] suhuaixing commented on #20
step 4: you changed lastMessage in db.ts file to array number ['1'], but it was not mentioned in the tutorial, I think db.ts shouldn't be changed, we should change the resolver.ts from 'messages.find(m => m.id === chat.lastMessage)' to 'chat.lastMessage'

[2019-08-08 06:19] suhuaixing commented on #20
step 5:
expect(getByTestId('date')).toHaveTextContent('02:00'); this is GMT+2 time, many people needs to change this, is there a better way to fix this?

[2019-08-08 06:21] suhuaixing commented on #20
step 5: create-react-app supports jest, why should we install jest again? And it makes errors, so I just use "react-scripts test"

[2019-08-08 06:28] suhuaixing commented on #20
step 5: didn't mention installing jest-junit, but it appears in the next package.json file.

[2019-08-08 07:08] suhuaixing commented on #20
In step 1, Id in client's db.ts is number, but in step 3 later, Id in db.ts is string. It's confusing. They need to be unified.

[2019-08-08 08:09] suhuaixing commented on #20
step 6 "const MessageItem = styled.div`
  float: right;
  background-color: #dcf8c6;
  display: inline-block;" inline-block is ignored due to the float

[2019-08-08 08:51] suhuaixing commented on #20
step 7, we should use "@apollo/react-hooks" instead of "react-apollo-hooks", I found react-apollo-hooks 0.5 will cauze error, it says, can't read data.chat. But I switch to @apollo/react-hooks, everything is fine, we even don't need to change any code.

[2019-08-08 09:39] suhuaixing commented on #20
step 7 test: we should use "@apollo/react-testing" instead of "apollo-link-mock", thus, we don't need test-helpers.ts, since we could directly "import { MockedProvider } from '@apollo/react-testing';",then change client to mocks.

[2019-08-08 13:08] suhuaixing commented on #20
step 10: type Client = , I have some issues here.It seems like DataProxy and Apollo client can't be together. it warns me something, I don't know how to solve it, so I let type Client = any,client.readFragment,I delete the <Fulllist>.

[2019-08-09 13:55] suhuaixing commented on #20
step 12: forget to mention "import { withFilter } from 'apollo-server-express';"

[2019-08-11 15:33] Urigo commented on #18
@braedongough I've just tried to reproduce it locally but couldn't...

Can you maybe share more information about the error?
Maybe the Javascript chat objects?

[2019-08-11 18:02] Urigo commented on #20
@suhuaixing this is amazing!  some much valuable feedback and comments!

I've taken care of:

- [x] https://github.com/Urigo/WhatsApp-Clone-Tutorial/issues/20#issuecomment-519346856
- [x] https://github.com/Urigo/WhatsApp-Clone-Tutorial/issues/20#issuecomment-519347240
- [x] https://github.com/Urigo/WhatsApp-Clone-Tutorial/issues/20#issuecomment-519351241
- [x] https://github.com/Urigo/WhatsApp-Cl

[2019-08-12 18:04] braedongough commented on #18
Link to my chats db: (https://github.com/braedongough/whatsapp-clone/blob/master/whatsapp-clone-server/db.ts

Full repo: https://github.com/braedongough/whatsapp-clone

I can see the steps in the tutorial have been updated to use the latest version of apollo, although I'm hoping that it shouldn't have any impact on this issue, as it was posted before the update.

[2019-08-12 18:19] braedongough commented on #18
I've just cloned client step8 and server step6 with the updates that have been added since and it's working on my machine now. Not sure what was wrong with the old code but no use in debugging it now. Thanks!

[2019-08-12 18:19] #18 closed

[2019-08-12 18:35] Urigo commented on #18
awesome @braedongough and thanks for the feedback and update

[2019-08-14 10:54] killjoy2013 opened #23 "[Client Step 5.3]"
Hi,

I've just added  **ChatsList.test.tsx** in the same way as in the tutorial. However, receiving below  **UnhandledPromiseRejectionWarning**. Am I missing something?

Thanks

[code]

[2019-08-14 21:25] killjoy2013 opened #24 "[Client Step 6.4]"
Hi,

[code]

produces below error;

`Type '{ href: string; }' is missing the following properties from type 'Location': ancestorOrigins, hash, host, hostname, and 8 more.ts(2740)`

[2019-08-14 21:35] killjoy2013 opened #25 "[Client Step 6.4] change src/components/ChatsListScreen/ChatsList.test.tsx"
We should create a browser history and pass it to ChatsList component...

[code]

[2019-08-16 12:20] killjoy2013 opened #26 "[Client Step 9.1]"
Hi,
How can I add @client directive from client side schema?
Thanks

[2019-08-27 20:46] Urigo commented on #26
@killjoy2013 can you give an example use case?
maybe we can add it to the tutorial script if it would be relevant

[2019-08-29 05:10] killjoy2013 commented on #26
I could managed to add client side schema using client-schema.graphql file like below

[code]

Working well. However, It wasn't easy for me to find my way. If there was a chapter in the tutorial for 'Managing Clientside Schema' would be very helpful.
Thanks

[2019-08-29 17:58] Urigo commented on #26
I would love to add a chapter about this.

Can you help me think about a feature we should add to WhatsApp that would use client side schema?

[2019-09-16 08:24] jeriscc opened #32 "[Client Step 1.2] Upgrade packages description should handle case when packages are already latest"
I tried using `yarn add <package-name>` to install the latest version of each package. However, what it did was just add a `^` in front of each package version. Is the description of `yarn add <package-name>` inaccurate?

[2019-09-16 08:40] jeriscc opened #33 "[Client Step 1.3] Incorrect format command"
In the docs, it says "Remember to run `yarn prettier` before you commit your changes!" That gave me a command-line error because no files were given nor specified. Perhaps, you should change the suggested command to `yarn format`?

[2019-09-16 20:12] jeriscc opened #34 "[Client Step 3.2] Key has temporary !"
In this section, the key for each `StyledListItem` changes from `key={chat.id}` to `key={chat!.id}`. This exclamation mark vanishes in future steps. Why would we want an exclamation mark? Is this an error?

[2019-09-16 23:28] jeriscc opened #36 "[Client Step 5.3] setupTests.ts is unavailable"
I believe that testing has changed in the latest version of create-react-app. `setupTests.ts` is no longer run before all tests with the guide's setup.

[2019-09-16 23:34] #36 closed

[2019-09-16 23:34] jeriscc commented on #36
Misinterpreted the reason for error.

[2019-09-16 23:52] jeriscc opened #37 "[Client Step 5.3] Vscode issues and date time"
For the client-side test, I got "16:00" for the content in the date property. This might be due to timezone differences between me and the tutorial writer. Might be a good idea to clarify this.

Also, in vscode, all the setup's in `setupTest.ts` were ignored by vscode in the test file itself. This was resolved after installing the jest plugin. Could be added to the guide for troubled users.

[2019-09-17 00:03] jeriscc commented on #4
Hey! Seems like the official documentation hasn't yet added scripts for hot-reloading. Here's something that I did on my end:
I installed `nodemon`. Then, I added the following `nodemon.json` file
[code]
along with a new script
[code]
This basically enables server-side hot reloading without changing much of the libraries present in the guide. Also, I wasn't sure how to contribute to the guide itse

[2019-09-20 12:57] AnergCorp001 opened #38 "Client Step 7.3"
### There is an error here.
I followed every step but when i type yarn start in both client and server folder it gives me error how I can fix this issue.
[code]

[2019-09-20 13:19] #38 closed

[2019-10-13 11:17] heisenbergCodes opened #39 "[Client Step 10.3] Issue with cache service"
I am getting the following error while running the client application.

This expression is not callable.
  Each member of the union type '(<T = any, TVariables = OperationVariables>(options: Fragment<TVariables>, optimistic?: boolean | undefined) => T | null) | (<FragmentType, TVariables = any>(options: Fragment<TVariables>, optimistic?: boolean | undefined) => FragmentType | null)' has signatures

[2019-10-15 20:00] bidah opened #40 "[Client Step 5.3] change src/components/ChatsListScreen/ChatsList.test.tsx"
fixing date test. Date from 2:00 to correct 21:00

[code]

[2019-10-24 13:27] mpaus opened #41 "[Client Step 7.3]"
There seems to be a problem with running this code. It happens in the index.tsx script located in the ChatRoomScreen folder on line 59 where you try to extract the chat object from the data object returned by the useQuery hook. The error that appears is "cannot read property chat of undefined". Seems to me that at the moment of extracting the chat object apollo is still loading the results, theref

[2019-10-27 18:25] I3r41n commented on #39
Did you got to understand what was wrong? I'm facing the same issue

[2019-10-31 06:25] smartapp-ep commented on #24
I changed it to window.location.href = '/', not sure if that's what the tutorial intended

[2019-11-07 13:52] heisenbergCodes commented on #39
Nothing so far.

[2019-12-03 16:14] mdazy opened #42 "[Server Step 5.1] - ordering of the chats in the top page is done server-side?"
Hi,

The server-side code is OK but the reference to the client-side ChatsList component feels a bit weird.
[code]
It implies that the service is making assumptions on the client-side usage and implementation, whereas it should really be the client relying on documented service API.

While it might make sense for the service to present its data in a (documented) particular order, it should not *ha

[2019-12-10 08:57] Fl4zher commented on #39
Anything new? Got the same issue...

[2019-12-15 12:39] baeriswyld opened #43 "Step 3, chats not loaded"
Hi

I have followed all your steps until the end of https://github.com/Urigo/WhatsApp-Clone-Tutorial/blob/master/.tortilla/manuals/views/step3.md

The server is up:
curl localhost:4000/chats  response is:
[{"id":"1","name":"Ethan Gonzalez","picture":"https://randomuser.me/api/portraits/thumb/men/1.jpg","lastMessage":"1"},{"id":"2","name":"Bryan Wallace","picture":"https://randomuser.me/api/portrai

[2019-12-27 15:55] Gazmos83 commented on #43
Have you opened the server side on a separate terminal and run 'yarn start'? Both the server and client side need to be running in order for them to communicate with each other.

[2020-03-27 15:10] gpdeedler commented on #39
I'm experiencing the same issue as well...

[2020-03-27 16:26] Poseid10ur commented on #33
Hi @Urigo

I have created a PR [#48] for this.

[2020-03-29 16:54] Poseid10ur commented on #43
Hello @baeriswyld,

I think there are three things that might be the reason of your issue.

* Server is not running. Please make sure that you have executed `yarn start` or `npm start` command on your terminal for server application. If this is not the case, look at the next possible issue
* Please debug the output of the `process.env.REACT_APP_SERVER_URL` value. If it's `undefined` then make sure

[2020-03-31 13:06] Urigo commented on #20
fixed, pushing a new version later today

[2020-03-31 13:06] #20 closed

[2020-03-31 13:19] Urigo commented on #23
fixed, pushing a new version later today

[2020-03-31 13:19] #23 closed

[2020-03-31 13:40] Urigo commented on #24
I've changed to it:

[code]
Based on [this answer](https://github.com/facebook/jest/issues/890#issuecomment-535994232).

Will push the new version later today

[2020-03-31 13:40] #24 closed

[2020-03-31 13:42] Urigo commented on #25
this is fixed, pushing a new version today, thank you!

[2020-03-31 13:42] #25 closed

[2020-03-31 13:59] Urigo commented on #32
@jeriscc there is also the second part of 1.2 that tells you to add `.npmrc` with `save-exact=true`

With both of those it should work.
Please reopen if it's not the case

[2020-03-31 13:59] #32 closed

[2020-03-31 14:08] #37 closed

[2020-03-31 14:11] Urigo commented on #39
Fixed in the new version (will push later today).

You can change type Client on the top of the file to:
[code]

[2020-03-31 14:11] #39 closed

[2020-03-31 14:20] Urigo commented on #39
also you should probably on the same step add the query typings from codegen:

[code]
and
[code]

and also check undefined on message.chat.id:
[code]

[2020-03-31 14:26] Urigo commented on #40
Thank you, fixed in the new version (everything will adjust to the same timezone), will push the update later today

[2020-03-31 14:26] #40 closed

[2020-03-31 14:31] Urigo commented on #41
thank you, you are right @mpaus

I've fixed it in the new version and will push later today.

For now, the fix is instead of the old query, use:

[code]

[2020-03-31 14:31] #41 closed

[2020-04-01 09:18] Urigo commented on #43
is this still happening with the new version I've pushed yesterday?

[2020-04-01 09:29] Urigo commented on #33
thank you @Poseid10ur will merge soon!

[2020-04-11 18:11] killjoy2013 commented on #26
So sorry for this late reply!
I needed to create client side schema in my project. Code generator did it well. I believe, would be useful add a similar case in WhatsApp as well. I'll let you know about a sample use case.

[2020-04-14 22:34] amunrarara opened #51 "[Server Step 2.3] -- curl command is 'hanging'"
Whenever I initiate any sort of request to the server, be it using curl or a browser, the request stalls and provides nothing, not even an error.

I've gone through the project with a fine-tooth comb, and cannot find any deviations in my code from the tutorial.

[2020-04-14 22:58] amunrarara commented on #51
The issue was two lines that I didn't notice were deleted in the tutorial (note: during that step in the tutorial, a different version of the file is being presented; added/deleted lines are not representing the sequential state of the tutorial app):

By removing app.use(cors()) and app.use(express.json), then ApolloServer can do its thing :-) A better description of this would be helpful, but thi

[2020-04-15 00:40] amunrarara opened #52 "[Client Step 5.3] waitFor in @testing-library/react does not exist"
'''

Module '"../../../../../../Development/whatsapp/waclone/node_modules/@types/testing-library__react"' has no exported member 'waitFor'

'''

What's the best course of action, here?

[2020-04-19 13:53] Urigo commented on #52
@amunrarara can you try to clone the examples from that specific step?

Maybe you are using an outdated version of testing-library?

[2020-04-19 13:53] Urigo commented on #51
@amunrarara can you point me to what exactly is missing?

[2020-05-12 14:11] shapaaa opened #54 "[Server Step 3.2]"
I got error as follows :

when I changed code to as follows the test run :
 `const server = new ApolloServer({ schema }) as any;`

[2020-05-13 07:41] wadadaaa opened #55 "[Server Step 1.3]"
`curl localhost:4000/_ping
curl: (7) Failed to connect to localhost port 4000: Connection refused`

[2020-05-15 15:44] Urigo commented on #54
@shapaaa I've just tried it myself with all the latest dependencies and it seem to work...

Can you try to run your code in codesandbox and reproduce the issue so I could see?

before that, also try to clone the repo from that particular step and see if there are any differences

[2020-05-15 15:45] Urigo commented on #55
@wadadaaa maybe it runs on a different port because that port was occupied?

`const port = process.env.PORT || 4000`

If not, could you try to share a reproduction?

[2020-05-17 06:36] reymon359 opened #60 "[Client Step 12.3] duplicated import on src/services/cache.service.ts"
The import of the useMessageAddedSubscription is duplicated on Client Step 12.3: Write chat on chatAdded

![image](https://user-images.githubusercontent.com/31936665/82137957-cd5aaf00-981c-11ea-9e57-03a5ebe76197.png)

It should be imported just once or it will throw an error
![image](https://user-images.githubusercontent.com/31936665/82137505-2cb6c000-9819-11ea-9c9a-06903d7a1a63.png)

Just remove

[2020-05-17 08:25] reymon359 opened #61 "[Client Step 13.2] 404 not found on step: update auth service to call signIn mutation"
When the commit code is referenced in the Client Step 13.2 there is a

[code]

![image](https://user-images.githubusercontent.com/31936665/82139487-6216da00-9828-11ea-91b2-b3bcfbac6c42.png)

![image](https://user-images.githubusercontent.com/31936665/82139489-64793400-9828-11ea-88b7-02e4758fa8f8.png)

[2020-05-17 08:37] reymon359 commented on #61
I have noticed that the file extension on the template is `.ts` instead of `.tsx`. Could it be that the problem? In that case, I would gladly submit a pull request to fix it :) https://github.com/Urigo/WhatsApp-Clone-Tutorial/blob/16602138247c3d9a2b071bd155b8df9ba0585371/.tortilla/manuals/templates/step13.tmpl#L74

[2020-05-20 05:44] reymon359 opened #63 "Step 14 Problem displaying Bash code in Markdown"
The Markdown Bash code block in [this section](https://github.com/Urigo/WhatsApp-Clone-Tutorial/blob/16602138247c3d9a2b071bd155b8df9ba0585371/.tortilla/manuals/templates/step14.tmpl#L218) is not displaying properly
![image](https://user-images.githubusercontent.com/31936665/82408985-0b4e1200-9a6d-11ea-8294-4d2f147f9dbd.png)

I think it is a problem related to the way the Markdown is rendered by To

[2020-05-20 06:51] reymon359 opened #67 "Step 15 Advanced Rest Client is deprecated"
In step 15 it is recommended to use the Chrome extension Advanced Rest Client to retrieve the Unsplash API response. The problem is that this tool is deprecated and warned both, on the [Chrome Store](https://chrome.google.com/webstore/detail/advanced-rest-client/hgmloofddffdnphfgcellkdfbfbjeloo) page and on its [GitHub repository](https://github.com/jarrodek/ChromeRestClient).

![image](https://us

[2020-05-20 06:57] reymon359 commented on #67
I submitted a pull request #68 trying to solve the issue.

[2020-05-20 15:54] Urigo commented on #63
Sorry about that, I've already updated it but haven't deployed a new version of the site.
It should be up in a couple of minutes, thanks for noticing!

[2020-05-20 15:54] #63 closed

[2020-05-20 15:57] Urigo commented on #67
thank you for the fix!  merged and deployed!

[2020-05-20 15:57] #67 closed

[2020-05-20 16:00] Urigo commented on #60
thank you for opening the issue, I've fixed it before but haven't updated the site.

I've deployed a new version now that should be ok!

[2020-05-20 16:00] #60 closed

[2020-05-20 16:01] Urigo commented on #61
Good catch!

I've updated both the docs and renamed the file in the repo to `ts`.

Added you as a co-author as well!

[2020-05-20 16:01] #61 closed

[2020-05-20 16:05] Urigo commented on #33
thank you so much!
Fixed, deployed and added you as a co-author [here](https://github.com/Urigo/WhatsApp-Clone-Tutorial/commit/4d82232ba5e558cd5fac8392a398074a42186dae)

[2020-05-20 16:05] #33 closed

[2020-05-20 17:53] reymon359 opened #70 "Step 15 Use environmental variables for the Unsplash API key"
I think it should be a nice thing to explain to the user what are Environmental Variables and how to create and use a `.env` file in the application and change the current way the Unsplash API it's used

[code]

[2020-05-20 18:01] reymon359 opened #71 "The Guild's banner overlaps with the side menu"
The nice new Guild's banner is overlapping with the side menu.

![image](https://user-images.githubusercontent.com/31936665/82480303-e2149c80-9ad3-11ea-8da7-db1e4a223e5a.png)

[2020-05-20 18:30] reymon359 opened #73 "Step 16 Server step 13.28 not found"
The server step referenced [here](https://github.com/Urigo/WhatsApp-Clone-Tutorial/blob/9bccba5e18696e3cdb10234e2b09472cd0a57ae0/.tortilla/manuals/templates/step16.tmpl#L347) is giving a `NOT FOUND!` message.

![image](https://user-images.githubusercontent.com/31936665/82483016-fa86b600-9ad7-11ea-8b1a-d71dd2ef14d5.png)

I did not submit a PR to remove it because I thought that maybe the problem is

[2020-05-20 19:17] reymon359 opened #74 "Step 17 Client Step 15.10 not displaying the files"
The Client step 15.10 is not displaying the files changed.

![image](https://user-images.githubusercontent.com/31936665/82487596-ded2de00-9ade-11ea-8f6f-9984fb7b547e.png)

I checked[ the code](https://github.com/Urigo/WhatsApp-Clone-Tutorial/blob/9bccba5e18696e3cdb10234e2b09472cd0a57ae0/.tortilla/manuals/templates/step17.tmpl#L461) but I did not find anything wrong with it.

[2020-05-22 16:18] idkjs opened #76 "resolver.ts in Part13/Authentication not compiling"
`participantId` has type `any`.

The edits look like this example:

[code]

This version of complete file compiles:

[code]

[2020-05-22 16:19] idkjs opened #77 "Submitting Edits via tortilla interface"
I tried submitting an edit via the tortilla interface. I keep getting `uri too long` error. FYI.

[2020-05-22 17:14] idkjs opened #78 "End of Part 13/Authentication empty screen after signing in"
I was getting an empty screen after [Part13/Authentication](https://www.tortilla.academy/Urigo/WhatsApp-Clone-Tutorial/master/next/step/13) so I downloaded the example server from [Server Step 10.3: Get current user from auth token ](https://github.com/Urigo/WhatsApp-Clone-Server/archive/a700ad1c75065385deacf0762752d64395189436.zip) and the example client from [Client Step 13.6: Split AuthScreen i

[2020-05-25 15:13] idkjs commented on #43
@Urigo a version of this is still happening on master/final version.

[code]

[2020-05-28 13:33] ron-huberfeld commented on #71
I believe the overlap occurs also on the page refresh.
Is someone working on fixing this?

![image](https://user-images.githubusercontent.com/32178925/83147686-b495a780-a100-11ea-9289-70fc92bb4536.png)

[2020-05-28 13:36] Urigo commented on #73
Fixed.  It referenced a bunch of wrong order commits throughout al the end of the tutorial.

Now it should make much more sense to follow....

[2020-05-28 13:36] #73 closed

[2020-05-28 13:37] Urigo commented on #74
Fixed.
It was pointing to the wrong commit and so were a bunch of other step references.
I fixed those and I hope now it would make more sense

[2020-05-28 13:37] #74 closed

[2020-05-28 13:38] Urigo commented on #70
@reymon359 are you up for a PR to change it how you see fit?

[2020-05-29 13:23] reymon359 commented on #70
Sure, I could find some time and work on it!

I was thinking of changing it to:

[code]
Although it could also be added in the [env.ts](https://github.com/Urigo/WhatsApp-Clone-Server/blob/master/index.ts) file and then import it here.

What do you think?

[2020-06-02 19:45] Urigo commented on #70
mmmm not sure, I'll leave it to your call!

[2020-06-05 08:11] pjunwei95 opened #82 "[Server Step 3.1] Given error when doing yarn test, lacking global-setup.ts"
Lack of tests/global-setup.ts given in the tutorial, have to navigate to github to get the code

[2020-06-09 18:14] pierrelavalette opened #83 "[Server Step 8.1] change db.ts"
[code]

[2020-06-09 18:16] pierrelavalette commented on #83
I reversed "sender" and "recipients" values in all Messages. Thus, our currentUser "1" is receiving all the messages by the other users, and step 11.1 can show both types of messages (mine, and other's)

[2020-06-25 18:43] reymon359 opened #85 "Submit code changes does not work"
On Step 15. `Server Step 12.1: Retrieve profile picture from REST API` the submit button to propose code changes is not working properly and rediects to a `Your request URL is too long.` [page](https://github.com/Urigo/WhatsApp-Clone-Tutorial/issues/new?title=%5BServer%20Step%2012.1%5D%20change%20schema/resolvers.ts&body=%60%60%60ts%0Aimport%20%7B%20withFilter%20%7D%20from%20%27apollo-server-expre

[2020-06-25 18:45] reymon359 commented on #70
Hi there! Sorry for the late response but I have been quite busy the last weeks. I submitted a pull request #84  to implement it. I tried to change the code too but when I click the submit button I am being redirected to a [not working link](https://github.com/Urigo/WhatsApp-Clone-Tutorial/issues/new?title=%5BServer%20Step%2012.1%5D%20change%20schema/resolvers.ts&body=%60%60%60ts%0Aimport%20%7B%20

[2020-07-09 14:48] lgandecki opened #87 "[Client Step 6.9] change src/components/ChatRoomScreen/MessageInput.test.tsx"
those waits don't have any effect , the inputs are already selected with get that would throw if the element was not found

[code]

[2020-07-09 14:49] lgandecki commented on #87
I've made the change from the tutorial page itself, I thought it would show a diff or create a PR with a code changed proposed.

basically, both of those tests have
```await waitFor(() => messageInput);```

after fireEvent.change - which does nothing

[2020-08-12 16:47] rolwin100 opened #89 "[Server Step 1.4] change package.json"
[code]

license. is missing

[2020-10-07 09:03] eibay opened #90 "History unknown error"
I cloned the final repository for both server and client and run the necessary yarn installs and tests and everything passes. Now when I run yarn start, this error message comes up...
[code]

[2021-02-06 20:57] jacksonbenete opened #91 "[Step 1] Whatsapp Clone Client Added src/App.tsx section"
Hello there.
I'm trying to follow the tutorial. Although I'm not a beginner, I've changed career some years ago so I'm not coding as much as I used to, at least not professionally. So I'm reading to learn about GraphQL and maybe something else I don't know.

My English isn't very good, so please, don't get offended if something I say sounds a little off or rude, sometimes the expressions doesn't t

[2021-02-06 21:06] jacksonbenete opened #92 "[Client Step 1.11]"
By using `yarn add moment`, yarn will/might automatically change `tsconfig.json` to "correct" the item:
=> `"jsx": "react"`
into
=> `"jsx": "react-jsx"`
which in turn will cause React error:
`error TS6046: Argument for '--jsx' option must be: 'preserve'`
that will prevent the app to start and might let beginners confused.

I didn't installed prettier in Section 1.3, maybe it will cause the same pr

[2021-02-14 21:24] jacksonbenete commented on #82
As of February 2021 a couple of things went wrong in this step.

I was getting an error about `jest-unit`, I had to do a `npm update` as suggested in a similar issue about jest-junit: [WhatsApp-Clone-Client-React#issue905](https://github.com/Urigo/WhatsApp-Clone-Client-React/issues/905).

Then ironically I start getting an error about `jest-junit`, had to run `yarn add jest-junit` again.

And fina

[2021-03-04 15:49] JP-1997 opened #93 "[Client Step 8.4] UI doesn't update on sending new chat"
When we type a new chat and click send the UI doesn't update. We are only able to see the new message after hitting refresh.

[2021-03-06 18:21] TuvalSimha opened #94 "[Client Step 1.7] change src/components/ChatsListScreen/index.tsx"
[code]

[2021-03-10 02:21] thukaramvh opened #95 "Can you Please add License ? As per Github without License is not Open Source, please refer Github Terms and Conditions"
Can you Please add Open Source License if its a Open Source as its Mentioned in your Youtube that its a open source

Please Note: As per Github without License mentioned is not a Open Source, please refer Github Terms and Conditions